<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1}:%L - %m%n" charset="UTF-8"/>
        </Console>
        <File name="Answer" fileName="logs/answer_debug.log">
            <PatternLayout pattern="%d %-5p %c{1.} [%3L] [%t] %m%n" charset="UTF-8"/>
        </File>
        <File name="Task" fileName="logs/task_debug.log">
            <PatternLayout pattern="%d %-5p %38c{1.} [%3L] [%t] %m%n" charset="UTF-8"/>
        </File>
        <File name="Missed" fileName="logs/missed_debug.log">
            <PatternLayout pattern="%d %-5p %c{1.} [%t] %m%n" charset="UTF-8"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="ru.thevalidator.daivinchikmatcher2.task.longpoll" level="info"/>
        <Logger name="ru.thevalidator.daivinchikmatcher2.task.request" level="info"/>
        <Logger name="ru.thevalidator.daivinchikmatcher2.vk.custom.transport" level="info"/>
        <Logger name="ru.thevalidator.daivinchikmatcher2.service.daivinchik.impl.DaiVinchikDialogAnswerServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="Answer"/>
        </Logger>
        <Logger name="ru.thevalidator.daivinchikmatcher2.service.daivinchik.impl.DaiVinchikCaseMatcherImpl" level="debug" additivity="false">
            <AppenderRef ref="Answer"/>
        </Logger>
        <Logger name="ru.thevalidator.daivinchikmatcher2.service.daivinchik.task.request.DaiVinchikDialogHandler" level="debug" additivity="false">
            <AppenderRef ref="Task"/>
        </Logger>
        <Logger name="ru.thevalidator.daivinchikmatcher2.service.daivinchik.impl.DaiVinchikMessageServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="Task"/>
        </Logger>
        <Logger name="ru.thevalidator.daivinchikmatcher2.service.daivinchik.impl.DaiVinchikMissedMessageServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="Missed"/>
            <AppenderRef ref="Console"/>
        </Logger>

<!--        <Logger name="ru.thevalidator.daivinchikmatcher2.task.longpoll" level="debug"/>-->
<!--        <Logger name="ru.thevalidator.daivinchikmatcher2.task.request" level="debug"/>-->
<!--        <Logger name="ru.thevalidator.daivinchikmatcher2.vk.custom.transport" level="debug"/>-->
<!--        <Logger name="ru.thevalidator.daivinchikmatcher2.service" level="debug"/>-->
    </Loggers>
</Configuration>